<!DOCTYPE html>
<html>
<head>
  <title>TrailBox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "Locations", locations_path %></li>
        <% if current_user %>
          <p class="navbar-text">Hi, <%= current_user.username %></p>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>


<% flash.each do |name, message| %>
  <%= content_tag :div, message, id: "flash_#{name}" %>
<%  end %>


<%= yield %>

</body>
</html>
